MacroSoundBoard/obj/*
MacroSoundBoard/bin/Debug/MacroSoundBoard.vshost.exe.manifest
MacroSoundBoard/bin/Debug/MacroSoundBoard.vshost.exe.config
MacroSoundBoard/bin/Debug/MacroSoundBoard.vshost.exe
MacroSoundBoard/bin/Debug/MacroSoundBoard.pdb
MacroSoundBoard/bin/Debug/MacroSoundBoard.exe.config