<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MacroSoundBoard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <MacroSoundBoard.Properties.Settings>
            <setting name="vac_directory" serializeAs="String">
                <value />
            </setting>
            <setting name="vac_realmic" serializeAs="String">
                <value />
            </setting>
            <setting name="vac_virtmic" serializeAs="String">
                <value />
            </setting>
            <setting name="vac_realspeak" serializeAs="String">
                <value />
            </setting>
            <setting name="vac_virtinput" serializeAs="String">
                <value />
            </setting>
            <setting name="vlc_directory" serializeAs="String">
                <value />
            </setting>
        </MacroSoundBoard.Properties.Settings>
    </userSettings>
</configuration>
